projects/caster/flows.json
[
    {
        "id": "7fa141ca2c1278bc",
        "type": "tab",
        "label": "casters",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "856d31f7542faa99",
        "type": "tab",
        "label": "mappers",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b0862711f6e11cad",
        "type": "tab",
        "label": "datasets",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c3ab8bf1851e1905",
        "type": "tab",
        "label": "init",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "595e3da839de1e0a",
        "type": "tab",
        "label": "sources",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd2f53f3f9c07060",
        "type": "subflow",
        "name": "parser",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 160,
                "wires": [
                    {
                        "id": "af12bf778fbcb602"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 180,
                "wires": [
                    {
                        "id": "8a6b27b0b7651551",
                        "port": 0
                    },
                    {
                        "id": "07bf50b83b16a352",
                        "port": 0
                    },
                    {
                        "id": "98a129ba4fae466f",
                        "port": 0
                    },
                    {
                        "id": "fd9b699abab81852",
                        "port": 0
                    },
                    {
                        "id": "3ffe26af0af8319e",
                        "port": 0
                    },
                    {
                        "id": "401745b5d53ebbb1",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "pars",
                "type": "str",
                "value": "yaml"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "a8013c3d6ec31116",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#1f35e0",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1d20ad143113998b",
        "type": "global-config",
        "name": "global-config",
        "env": [
            {
                "name": "mongo_pass",
                "value": "root",
                "type": "str"
            }
        ]
    },
    {
        "id": "749244c45ba8acee",
        "type": "ui_tab",
        "name": "datasets",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ecc1a18772937a7e",
        "type": "ui_group",
        "name": "Default",
        "tab": "749244c45ba8acee",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "44a02dfc7036a3b9",
        "type": "ui_group",
        "name": "collection",
        "tab": "749244c45ba8acee",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8929f3e867221dab",
        "type": "ui_group",
        "name": "document",
        "tab": "749244c45ba8acee",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c260d03f353501f",
        "type": "ui_group",
        "name": "add",
        "tab": "749244c45ba8acee",
        "order": 4,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ebb609d1d8ba2f5f",
        "type": "ui_spacer",
        "z": "b0862711f6e11cad",
        "name": "spacer",
        "group": "ecc1a18772937a7e",
        "order": 3,
        "width": 4,
        "height": 1
    },
    {
        "id": "3ecc66cf0a54b014",
        "type": "ui_spacer",
        "z": "b0862711f6e11cad",
        "name": "spacer",
        "group": "8c260d03f353501f",
        "order": 7,
        "width": 7,
        "height": 1
    },
    {
        "id": "e9072345807a1505",
        "type": "ui_tab",
        "name": "meppers",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bae4826986848395",
        "type": "ui_group",
        "name": "form",
        "tab": "e9072345807a1505",
        "order": 2,
        "disp": false,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "73ec0b96b34b0d02",
        "type": "ui_group",
        "name": "index",
        "tab": "e9072345807a1505",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac3cfd076d94e22c",
        "type": "ui_tab",
        "name": "casters",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b9e5e254a5a37698",
        "type": "ui_group",
        "name": "index",
        "tab": "ac3cfd076d94e22c",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1fb93450ef20823",
        "type": "ui_group",
        "name": "document",
        "tab": "ac3cfd076d94e22c",
        "order": 2,
        "disp": false,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b06ce09f793b4fec",
        "type": "ui_tab",
        "name": "sources",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b8e2eba4a241164b",
        "type": "ui_group",
        "name": "index",
        "tab": "b06ce09f793b4fec",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "200e099d67559649",
        "type": "ui_group",
        "name": "document",
        "tab": "b06ce09f793b4fec",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c52b61b97391e8c",
        "type": "ui_group",
        "name": "view",
        "tab": "ac3cfd076d94e22c",
        "order": 3,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed5a423558aa2a49",
        "type": "ui_spacer",
        "z": "7fa141ca2c1278bc",
        "name": "spacer",
        "group": "c1fb93450ef20823",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "9b62d571459e47b1",
        "type": "ui_group",
        "name": "view",
        "tab": "e9072345807a1505",
        "order": 3,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c7672bb23f711375",
        "type": "ui_spacer",
        "z": "856d31f7542faa99",
        "name": "spacer",
        "group": "bae4826986848395",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "8d01028b6642e1d1",
        "type": "ui_spacer",
        "z": "856d31f7542faa99",
        "name": "spacer",
        "group": "9b62d571459e47b1",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "af12bf778fbcb602",
        "type": "switch",
        "z": "bd2f53f3f9c07060",
        "name": "",
        "property": "pars",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "csv",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "html",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "json",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "xml",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "yaml",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 250,
        "y": 160,
        "wires": [
            [
                "8a6b27b0b7651551"
            ],
            [
                "07bf50b83b16a352"
            ],
            [
                "98a129ba4fae466f"
            ],
            [
                "fd9b699abab81852"
            ],
            [
                "3ffe26af0af8319e"
            ],
            [
                "401745b5d53ebbb1"
            ]
        ]
    },
    {
        "id": "8a6b27b0b7651551",
        "type": "csv",
        "z": "bd2f53f3f9c07060",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 430,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "07bf50b83b16a352",
        "type": "html",
        "z": "bd2f53f3f9c07060",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "",
        "ret": "html",
        "as": "single",
        "chr": "_",
        "x": 430,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "98a129ba4fae466f",
        "type": "json",
        "z": "bd2f53f3f9c07060",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 430,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "fd9b699abab81852",
        "type": "xml",
        "z": "bd2f53f3f9c07060",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 430,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3ffe26af0af8319e",
        "type": "yaml",
        "z": "bd2f53f3f9c07060",
        "property": "payload",
        "name": "",
        "x": 430,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "401745b5d53ebbb1",
        "type": "change",
        "z": "bd2f53f3f9c07060",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "13f79604ed2684f8",
        "type": "ui_template",
        "z": "7fa141ca2c1278bc",
        "group": "c1fb93450ef20823",
        "name": "jsonata",
        "order": 1,
        "width": 12,
        "height": 15,
        "format": "<div style=\"display: flex; flex-direction: column; height: 100%; padding: 10px; box-sizing: border-box;\">\n  <textarea ng-model=\"text\" ng-change=\"sendText()\" style=\"flex: 1; width: 95%; height: 100%; font-family: 'Courier New', Courier, monospace; \n    font-size: 14px; line-height: 1.5; font-size: 14px; line-height: 1.5; color: #333; \n    background-color: #f9f9f9; border: 1px solid #ccc; border-radius: 5px; padding: 10px; resize: vertical; \n    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);\">{{msg.payload}}</textarea>\n</div>\n<script>\n  (function(scope) {\n    scope.$watch('msg.payload', function(newValue) {\n      if (newValue !== undefined) scope.text = newValue\n    })    \n    scope.sendText = () => scope.send({ payload: scope.text })\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "037e5db2ba4fcaf2"
            ]
        ]
    },
    {
        "id": "ba0a9c291980d026",
        "type": "ui_text_input",
        "z": "7fa141ca2c1278bc",
        "name": "",
        "label": "name",
        "tooltip": "",
        "group": "c1fb93450ef20823",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 570,
        "y": 120,
        "wires": [
            [
                "433b9d66f2ed69e5"
            ]
        ]
    },
    {
        "id": "263d430adf252465",
        "type": "ui_button",
        "z": "7fa141ca2c1278bc",
        "name": "",
        "group": "c1fb93450ef20823",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "save",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "save",
        "payload": "save",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "c464c55828afa8de"
            ]
        ]
    },
    {
        "id": "01a0fdb0c043feab",
        "type": "ui_button",
        "z": "7fa141ca2c1278bc",
        "name": "delete",
        "group": "c1fb93450ef20823",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "delete",
        "payload": "delete",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "c464c55828afa8de"
            ]
        ]
    },
    {
        "id": "7295dd4c1c6e67db",
        "type": "ui_table",
        "z": "7fa141ca2c1278bc",
        "group": "b9e5e254a5a37698",
        "name": "",
        "order": 1,
        "width": 6,
        "height": 15,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "dd5bcc4afdc7fe50",
                "4a52d0584ca3c06c"
            ]
        ]
    },
    {
        "id": "d1a7f22079423f50",
        "type": "change",
        "z": "7fa141ca2c1278bc",
        "name": "index",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$map($keys($globalContext('casters')), function($v){{\"name\": $v}})",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "7295dd4c1c6e67db"
            ]
        ]
    },
    {
        "id": "dd5bcc4afdc7fe50",
        "type": "change",
        "z": "7fa141ca2c1278bc",
        "name": "name",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "ba0a9c291980d026"
            ]
        ]
    },
    {
        "id": "433b9d66f2ed69e5",
        "type": "rbe",
        "z": "7fa141ca2c1278bc",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 690,
        "y": 120,
        "wires": [
            [
                "64e7ae82c6627357"
            ]
        ]
    },
    {
        "id": "037e5db2ba4fcaf2",
        "type": "rbe",
        "z": "7fa141ca2c1278bc",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 710,
        "y": 60,
        "wires": [
            [
                "7062721e39454d46"
            ]
        ]
    },
    {
        "id": "64e7ae82c6627357",
        "type": "change",
        "z": "7fa141ca2c1278bc",
        "name": "name",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "4a52d0584ca3c06c",
        "type": "change",
        "z": "7fa141ca2c1278bc",
        "name": "value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext('casters.' & msg.payload.name)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 60,
        "wires": [
            [
                "13f79604ed2684f8"
            ]
        ]
    },
    {
        "id": "7062721e39454d46",
        "type": "change",
        "z": "7fa141ca2c1278bc",
        "name": "value",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$eval(msg.payload, $globalContext('datasets'))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 60,
        "wires": [
            [
                "f671f4dc40a99890"
            ]
        ]
    },
    {
        "id": "c464c55828afa8de",
        "type": "function",
        "z": "7fa141ca2c1278bc",
        "name": "save",
        "func": "let name = flow.get('name')\nif(name)\n    global.set('casters.'+name, msg.payload == 'save'? flow.get('value'): undefined)\nreturn {\n    payload: Object.keys(global.get('casters')).map(k => {return {\"name\": k}})\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 180,
        "wires": [
            [
                "7295dd4c1c6e67db"
            ]
        ]
    },
    {
        "id": "f671f4dc40a99890",
        "type": "ui_template",
        "z": "7fa141ca2c1278bc",
        "group": "7c52b61b97391e8c",
        "name": "JSON Viewer",
        "order": 1,
        "width": 12,
        "height": 16,
        "format": "<div id=\"jsoneditor\" style=\"height:100%;\"></div>\n<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/jsoneditor/dist/jsoneditor.min.css\">\n<script src=\"https://cdn.jsdelivr.net/npm/jsoneditor/dist/jsoneditor.min.js\"></script>\n<script>\n    (function(scope) {\n        var container = document.getElementById(\"jsoneditor\");\n        var options = {\n            mode: \"view\",\n            modes: [\"view\", \"code\"] // Allow switching between modes\n        };\n        var editor = new JSONEditor(container, options);\n\n        scope.$watch('msg.payload', function(newVal, oldVal) {\n            if (newVal) {\n                editor.set(newVal);\n            }\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 980,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "72525da75d3cb55e",
        "type": "link in",
        "z": "7fa141ca2c1278bc",
        "name": "casters",
        "links": [
            "030d677f539f5d54"
        ],
        "x": 75,
        "y": 80,
        "wires": [
            [
                "d1a7f22079423f50"
            ]
        ]
    },
    {
        "id": "248a75704e60999b",
        "type": "catch",
        "z": "7fa141ca2c1278bc",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "3fdfc966bc5f43b5"
            ]
        ]
    },
    {
        "id": "8dd3a591278bf1b6",
        "type": "ui_toast",
        "z": "7fa141ca2c1278bc",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 430,
        "y": 280,
        "wires": []
    },
    {
        "id": "3fdfc966bc5f43b5",
        "type": "template",
        "z": "7fa141ca2c1278bc",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "message: {{error.message}}",
        "output": "str",
        "x": 260,
        "y": 280,
        "wires": [
            [
                "8dd3a591278bf1b6"
            ]
        ]
    },
    {
        "id": "59b079c1a41dfd8b",
        "type": "ui_template",
        "z": "856d31f7542faa99",
        "group": "bae4826986848395",
        "name": "jsonata",
        "order": 1,
        "width": 12,
        "height": 15,
        "format": "<div style=\"display: flex; flex-direction: column; height: 100%; padding: 10px; box-sizing: border-box;\">\n  <textarea ng-model=\"text\" ng-change=\"sendText()\" style=\"flex: 1; width: 95%; height: 100%; font-family: 'Courier New', Courier, monospace; \n    font-size: 14px; line-height: 1.5; font-size: 14px; line-height: 1.5; color: #333; \n    background-color: #f9f9f9; border: 1px solid #ccc; border-radius: 5px; padding: 10px; resize: vertical; \n    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);\">{{msg.payload}}</textarea>\n</div>\n<script>\n  (function(scope) {\n    scope.$watch('msg.payload', function(newValue) {\n      if (newValue !== undefined) scope.text = newValue\n    })    \n    scope.sendText = () => scope.send({ payload: scope.text })\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 560,
        "y": 160,
        "wires": [
            [
                "6148d3b145be58dc"
            ]
        ]
    },
    {
        "id": "887fc4e318b96874",
        "type": "ui_text_input",
        "z": "856d31f7542faa99",
        "name": "",
        "label": "",
        "tooltip": "name",
        "group": "bae4826986848395",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 560,
        "y": 220,
        "wires": [
            [
                "8c9cd957698ab449"
            ]
        ]
    },
    {
        "id": "4a723cf73b21c73d",
        "type": "ui_button",
        "z": "856d31f7542faa99",
        "name": "",
        "group": "bae4826986848395",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "save",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "save",
        "payload": "save",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "957b8e2942ebc71e"
            ]
        ]
    },
    {
        "id": "ef1c76f34ba250a6",
        "type": "ui_button",
        "z": "856d31f7542faa99",
        "name": "delete",
        "group": "bae4826986848395",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "delete",
        "payload": "delete",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "957b8e2942ebc71e"
            ]
        ]
    },
    {
        "id": "abf6ce986adac953",
        "type": "ui_table",
        "z": "856d31f7542faa99",
        "group": "73ec0b96b34b0d02",
        "name": "",
        "order": 1,
        "width": 6,
        "height": 15,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "89aa90edf90a134e",
                "1430a8c14f2e38fc"
            ]
        ]
    },
    {
        "id": "3c335c9cc4dd6a3d",
        "type": "change",
        "z": "856d31f7542faa99",
        "name": "index",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$map($keys($globalContext('mappers')), function($v){{\"name\": $v}})",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "abf6ce986adac953"
            ]
        ]
    },
    {
        "id": "89aa90edf90a134e",
        "type": "change",
        "z": "856d31f7542faa99",
        "name": "name",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "887fc4e318b96874"
            ]
        ]
    },
    {
        "id": "8c9cd957698ab449",
        "type": "rbe",
        "z": "856d31f7542faa99",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 690,
        "y": 220,
        "wires": [
            [
                "acdbcd5b7e4eab0c"
            ]
        ]
    },
    {
        "id": "6148d3b145be58dc",
        "type": "rbe",
        "z": "856d31f7542faa99",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 690,
        "y": 160,
        "wires": [
            [
                "7103c6e33a06677d"
            ]
        ]
    },
    {
        "id": "acdbcd5b7e4eab0c",
        "type": "change",
        "z": "856d31f7542faa99",
        "name": "name",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "1430a8c14f2e38fc",
        "type": "change",
        "z": "856d31f7542faa99",
        "name": "value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext('mappers.' & msg.payload.name)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 160,
        "wires": [
            [
                "59b079c1a41dfd8b"
            ]
        ]
    },
    {
        "id": "7103c6e33a06677d",
        "type": "change",
        "z": "856d31f7542faa99",
        "name": "value",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 160,
        "wires": [
            [
                "5e855cfdd486bc3d"
            ]
        ]
    },
    {
        "id": "957b8e2942ebc71e",
        "type": "function",
        "z": "856d31f7542faa99",
        "name": "save",
        "func": "let name = flow.get('name')\nif(name)\n    global.set('mappers.'+name, msg.payload == 'save'? flow.get('value'): undefined)\nreturn {\n    payload: Object.keys(global.get('mappers')).map(k => {return {\"name\": k}})\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 280,
        "wires": [
            [
                "abf6ce986adac953"
            ]
        ]
    },
    {
        "id": "862b649d80526fe9",
        "type": "link in",
        "z": "856d31f7542faa99",
        "name": "mappers",
        "links": [
            "030d677f539f5d54"
        ],
        "x": 55,
        "y": 180,
        "wires": [
            [
                "3c335c9cc4dd6a3d",
                "fb07a609b5e93312"
            ]
        ]
    },
    {
        "id": "949172c14ecc02ef",
        "type": "ui_dropdown",
        "z": "856d31f7542faa99",
        "name": "",
        "label": "dataset",
        "tooltip": "",
        "place": "Select option",
        "group": "9b62d571459e47b1",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "f134d7a089ad93da"
            ]
        ]
    },
    {
        "id": "fb07a609b5e93312",
        "type": "change",
        "z": "856d31f7542faa99",
        "name": "datasets",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "$keys($globalContext('datasets'))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 80,
        "wires": [
            [
                "949172c14ecc02ef"
            ]
        ]
    },
    {
        "id": "54bcb0fbafee7e60",
        "type": "ui_template",
        "z": "856d31f7542faa99",
        "group": "9b62d571459e47b1",
        "name": "JSON Viewer",
        "order": 1,
        "width": 12,
        "height": 15,
        "format": "\n<div id=\"jsoneditor\" style=\"height:100%;\"></div>\n<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/jsoneditor/dist/jsoneditor.min.css\">\n<script src=\"https://cdn.jsdelivr.net/npm/jsoneditor/dist/jsoneditor.min.js\"></script>\n<script>\n    (function(scope) {\n        var container = document.getElementById(\"jsoneditor\");\n        var options = {\n            mode: \"view\",\n            modes: [\"view\", \"code\"] // Allow switching between modes\n        };\n        var editor = new JSONEditor(container, options);\n\n        scope.$watch('msg.payload', function(newVal, oldVal) {\n            if (newVal) {\n                editor.set(newVal);\n            }\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5e855cfdd486bc3d",
        "type": "change",
        "z": "856d31f7542faa99",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$eval($flowContext('value'), $globalContext('datasets.' & $flowContext('dataset')))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 80,
        "wires": [
            [
                "54bcb0fbafee7e60"
            ]
        ]
    },
    {
        "id": "f134d7a089ad93da",
        "type": "change",
        "z": "856d31f7542faa99",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dataset",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 80,
        "wires": [
            [
                "5e855cfdd486bc3d"
            ]
        ]
    },
    {
        "id": "bca6e29925bbd0b0",
        "type": "catch",
        "z": "856d31f7542faa99",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 380,
        "wires": [
            [
                "05999d684a748e0e"
            ]
        ]
    },
    {
        "id": "1175945ad903d8db",
        "type": "ui_toast",
        "z": "856d31f7542faa99",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 410,
        "y": 380,
        "wires": []
    },
    {
        "id": "05999d684a748e0e",
        "type": "template",
        "z": "856d31f7542faa99",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "message: {{error.message}}",
        "output": "str",
        "x": 240,
        "y": 380,
        "wires": [
            [
                "1175945ad903d8db"
            ]
        ]
    },
    {
        "id": "93a733ddac275596",
        "type": "ui_button",
        "z": "856d31f7542faa99",
        "name": "",
        "group": "9b62d571459e47b1",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "save as",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "3c9234fad6fcab70"
            ]
        ]
    },
    {
        "id": "eb2ffc9a0d20c7cf",
        "type": "function",
        "z": "856d31f7542faa99",
        "name": "function 1",
        "func": "global.set('datasets.'+flow.get('dataset')+'_'+flow.get('name'), msg.clone)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "3c9234fad6fcab70",
        "type": "change",
        "z": "856d31f7542faa99",
        "name": "clone",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$eval($flowContext('value'), $globalContext('datasets.' & $flowContext('dataset')))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "clone",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "eb2ffc9a0d20c7cf"
            ]
        ]
    },
    {
        "id": "b93868d226293956",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "datasets",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "dataset",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "$append($keys($globalContext('datasets')), \"add\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 460,
        "wires": [
            [
                "22b112d187c7046f"
            ]
        ]
    },
    {
        "id": "22b112d187c7046f",
        "type": "ui_dropdown",
        "z": "b0862711f6e11cad",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "ecc1a18772937a7e",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 360,
        "y": 460,
        "wires": [
            [
                "7f9dcfd9d85e909b"
            ]
        ]
    },
    {
        "id": "c3e66e3602186781",
        "type": "link in",
        "z": "b0862711f6e11cad",
        "name": "datasets",
        "links": [
            "0bf4096b785ff379",
            "030d677f539f5d54"
        ],
        "x": 95,
        "y": 500,
        "wires": [
            [
                "b93868d226293956",
                "116ef8d77346e974",
                "041b1b1f91121a8e",
                "42584c65f7204fac"
            ]
        ]
    },
    {
        "id": "7eca09123657a317",
        "type": "inject",
        "z": "b0862711f6e11cad",
        "name": "boot",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 950,
        "y": 420,
        "wires": [
            [
                "ae6188ad09265c3e"
            ]
        ]
    },
    {
        "id": "7f9dcfd9d85e909b",
        "type": "rbe",
        "z": "b0862711f6e11cad",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 490,
        "y": 460,
        "wires": [
            [
                "88fbdd0bd92abe7f"
            ]
        ]
    },
    {
        "id": "0bf4096b785ff379",
        "type": "link out",
        "z": "b0862711f6e11cad",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "c3e66e3602186781"
        ],
        "x": 1505,
        "y": 520,
        "wires": []
    },
    {
        "id": "88fbdd0bd92abe7f",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "flow dataset & dataset_type",
        "rules": [
            {
                "t": "set",
                "p": "dataset",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 460,
        "wires": [
            [
                "0bf4096b785ff379"
            ]
        ]
    },
    {
        "id": "b91e6915d08b1a15",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "dataset and type",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext($join(['datasets', $flowContext('dataset')], '.'))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "$type($globalContext($join(['datasets', $flowContext('dataset')], '.')))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 540,
        "wires": [
            [
                "c6b5506bfc29603d"
            ]
        ]
    },
    {
        "id": "c6b5506bfc29603d",
        "type": "switch",
        "z": "b0862711f6e11cad",
        "name": "",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "array",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "object",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 560,
        "wires": [
            [
                "2bca490833eae5c3",
                "6e254986d8c0cb99"
            ],
            [
                "bd4a931f6c8814a9",
                "cd58ea6410db4d73"
            ]
        ]
    },
    {
        "id": "2bca490833eae5c3",
        "type": "ui_table",
        "z": "b0862711f6e11cad",
        "group": "44a02dfc7036a3b9",
        "name": "collection",
        "order": 1,
        "width": 12,
        "height": 15,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 720,
        "y": 560,
        "wires": [
            [
                "4a8ef53307ac059d"
            ]
        ]
    },
    {
        "id": "fac6b94b9911b6a4",
        "type": "ui_ui_control",
        "z": "b0862711f6e11cad",
        "name": "",
        "events": "all",
        "x": 1040,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "799cb1401e0a0433",
        "type": "ui_template",
        "z": "b0862711f6e11cad",
        "group": "8929f3e867221dab",
        "name": "document",
        "order": 1,
        "width": 12,
        "height": 14,
        "format": "<div style=\"display: flex; flex-direction: column; height: 100%; padding: 10px; box-sizing: border-box;\">\n  <label style=\"font-size: 16px; font-weight: bold; margin-bottom: 5px;\">import config</label>\n  <textarea ng-model=\"text\" ng-change=\"sendText()\" style=\"flex: 1; width: 95%; height: 100%; font-family: 'Courier New', Courier, monospace; \n    font-size: 14px; line-height: 1.5; font-size: 14px; line-height: 1.5; color: #333; \n    background-color: #f9f9f9; border: 1px solid #ccc; border-radius: 5px; padding: 10px; resize: vertical; \n    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);\">{{msg.payload}}</textarea>\n</div>\n<script>\n  (function(scope) {\n    scope.$watch('msg.payload', function(newValue) {\n      if (newValue !== undefined) scope.text = newValue\n    })    \n    scope.sendText = () => scope.send({ payload: scope.text })\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 760,
        "wires": [
            [
                "a03e9441b70926fc"
            ]
        ]
    },
    {
        "id": "cd58ea6410db4d73",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"datasets_collection\",\"datasets_add\"],\"show\":[\"datasets_document\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 680,
        "wires": [
            [
                "fac6b94b9911b6a4"
            ]
        ]
    },
    {
        "id": "6e254986d8c0cb99",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"datasets_collection\"],\"hide\":[\"datasets_document\",\"datasets_add\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 620,
        "wires": [
            [
                "fac6b94b9911b6a4"
            ]
        ]
    },
    {
        "id": "ac6b1659d33bf15a",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "dataset",
        "rules": [
            {
                "t": "set",
                "p": "dataset",
                "pt": "flow",
                "to": "$join([$flowContext('dataset'), $string(msg.row)], '.')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 560,
        "wires": [
            [
                "0bf4096b785ff379"
            ]
        ]
    },
    {
        "id": "6394587790cce002",
        "type": "yaml",
        "z": "b0862711f6e11cad",
        "property": "payload",
        "name": "",
        "x": 1110,
        "y": 760,
        "wires": [
            [
                "02c51aeab16fb3a3"
            ]
        ]
    },
    {
        "id": "02c51aeab16fb3a3",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "dataset_draft",
        "rules": [
            {
                "t": "set",
                "p": "dataset_draft",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "f125d68a22ede4eb",
        "type": "ui_button",
        "z": "b0862711f6e11cad",
        "name": "",
        "group": "8929f3e867221dab",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1170,
        "y": 600,
        "wires": [
            [
                "0b05fa180b8deacb"
            ]
        ]
    },
    {
        "id": "0b05fa180b8deacb",
        "type": "function",
        "z": "b0862711f6e11cad",
        "name": "function 6",
        "func": "let dataset = flow.get('dataset')\nglobal.set('datasets.'+dataset, flow.get('dataset_draft'))\nflow.set('dataset', dataset.split('.')[0])\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 600,
        "wires": [
            [
                "0bf4096b785ff379"
            ]
        ]
    },
    {
        "id": "1a3f98e5e2dc4ca2",
        "type": "ui_button",
        "z": "b0862711f6e11cad",
        "name": "delete",
        "group": "ecc1a18772937a7e",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "delete",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a5c19f2eb5e7036f",
        "type": "ui_button",
        "z": "b0862711f6e11cad",
        "name": "",
        "group": "8c260d03f353501f",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "add",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "0e95d762b3abad54"
            ]
        ]
    },
    {
        "id": "a4f9ec810a9362c5",
        "type": "ui_template",
        "z": "b0862711f6e11cad",
        "group": "8c260d03f353501f",
        "name": "source",
        "order": 3,
        "width": 12,
        "height": 6,
        "format": "<div style=\"display: flex; flex-direction: column; height: 100%; padding: 10px; box-sizing: border-box;\">\n  <label style=\"font-size: 16px; font-weight: bold; margin-bottom: 5px;\">import config</label>\n  <textarea ng-model=\"text\" ng-change=\"sendText()\" style=\"flex: 1; width: 95%; height: 100%; font-family: 'Courier New', Courier, monospace; \n    font-size: 14px; line-height: 1.5; font-size: 14px; line-height: 1.5; color: #333; \n    background-color: #f9f9f9; border: 1px solid #ccc; border-radius: 5px; padding: 10px; resize: vertical; \n    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);\">{{msg.payload}}</textarea>\n</div>\n<script>\n  (function(scope) {\n    scope.$watch('msg.payload', function(newValue) {\n      if (newValue !== undefined) scope.text = newValue\n    })    \n    scope.sendText = () => scope.send({ payload: scope.text })\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 590,
        "y": 860,
        "wires": [
            [
                "78c278ecb48cb984"
            ]
        ]
    },
    {
        "id": "116ef8d77346e974",
        "type": "switch",
        "z": "b0862711f6e11cad",
        "name": "add",
        "property": "dataset",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "add",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 500,
        "wires": [
            [
                "21e3a62d981f6fd9"
            ],
            [
                "b91e6915d08b1a15"
            ]
        ]
    },
    {
        "id": "21e3a62d981f6fd9",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "toggle add",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"datasets_add\"],\"hide\":[\"datasets_collection\",\"datasets_document\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 500,
        "wires": [
            [
                "2e0a49faf459107c"
            ]
        ]
    },
    {
        "id": "2e0a49faf459107c",
        "type": "ui_ui_control",
        "z": "b0862711f6e11cad",
        "name": "",
        "events": "all",
        "x": 520,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "bd4a931f6c8814a9",
        "type": "yaml",
        "z": "b0862711f6e11cad",
        "property": "payload",
        "name": "",
        "x": 730,
        "y": 760,
        "wires": [
            [
                "799cb1401e0a0433"
            ]
        ]
    },
    {
        "id": "94afc85a804371f7",
        "type": "catch",
        "z": "b0862711f6e11cad",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 140,
        "y": 1060,
        "wires": [
            [
                "7c614b439b86aa21",
                "9574245dc3820a3d"
            ]
        ]
    },
    {
        "id": "7c614b439b86aa21",
        "type": "debug",
        "z": "b0862711f6e11cad",
        "name": "datasets catch logs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 1060,
        "wires": []
    },
    {
        "id": "2191b28eea9df2f6",
        "type": "ui_text",
        "z": "b0862711f6e11cad",
        "group": "ecc1a18772937a7e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 640,
        "wires": []
    },
    {
        "id": "041b1b1f91121a8e",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "dataset",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 640,
        "wires": [
            [
                "2191b28eea9df2f6"
            ]
        ]
    },
    {
        "id": "4a8ef53307ac059d",
        "type": "rbe",
        "z": "b0862711f6e11cad",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 850,
        "y": 560,
        "wires": [
            [
                "ac6b1659d33bf15a"
            ]
        ]
    },
    {
        "id": "a03e9441b70926fc",
        "type": "rbe",
        "z": "b0862711f6e11cad",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 990,
        "y": 760,
        "wires": [
            [
                "6394587790cce002"
            ]
        ]
    },
    {
        "id": "ae6188ad09265c3e",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "init",
        "rules": [
            {
                "t": "set",
                "p": "source_type",
                "pt": "flow",
                "to": "yaml",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "source_types",
                "pt": "flow",
                "to": "{\"rest\":{\"cast\":\"yaml\",\"config\":\"method: GET\\nurl: http: //example.com\"},\"mongo\":{\"cast\":\"yaml\",\"config\":{\"db\":\"database\",\"collection\":\"contents\"}},\"json\":{\"cast\":\"json\",\"config\":[{\"id\":111,\"slug\":\"foo\"},{\"id\":222,\"slug\":\"bar\"}]},\"yaml\":{\"cast\":\"yaml\",\"config\":[{\"id\":111,\"slug\":\"foo\"},{\"id\":222,\"slug\":\"bar\"}]},\"csv\":{\"cast\":\"csv\",\"config\":[{\"id\":111,\"slug\":\"foo\"},{\"id\":222,\"slug\":\"bar\"}]}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "mapper_types",
                "pt": "flow",
                "to": "{\"i3\":\"$.{\\n  'id': _id,\\n  'origin': $, \\n  'cast': $\\n}\",\"i4\":\"$.{\\n  'id': _id,\\n  'origin': $, \\n  'cast': $\\n}\",\"yaml\":\"$.{\\n  'id': id,\\n  'origin': $, \\n  'cast': $\\n}\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 440,
        "wires": [
            [
                "0bf4096b785ff379"
            ]
        ]
    },
    {
        "id": "f11865aa8b2173c5",
        "type": "ui_dropdown",
        "z": "b0862711f6e11cad",
        "name": "",
        "label": "source type",
        "tooltip": "",
        "place": "Select option",
        "group": "8c260d03f353501f",
        "order": 2,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "yaml",
                "type": "str"
            },
            {
                "label": "",
                "value": "json",
                "type": "str"
            },
            {
                "label": "",
                "value": "csv",
                "type": "str"
            },
            {
                "label": "",
                "value": "mongo",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 860,
        "wires": [
            [
                "c6f84202c6463c56"
            ]
        ]
    },
    {
        "id": "c6f84202c6463c56",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "source_type",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$flowContext($join(['source_types',$flowContext('source_type'),'config'], '.'))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "pars",
                "pt": "msg",
                "to": "$flowContext($join(['source_types',$flowContext('source_type'),'cast'], '.'))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 860,
        "wires": [
            [
                "d47480e37dd94771"
            ]
        ]
    },
    {
        "id": "78c278ecb48cb984",
        "type": "subflow:bd2f53f3f9c07060",
        "z": "b0862711f6e11cad",
        "name": "",
        "env": [
            {
                "name": "pars",
                "value": "",
                "type": "str"
            }
        ],
        "x": 710,
        "y": 860,
        "wires": [
            [
                "086096276b4bab7d"
            ]
        ]
    },
    {
        "id": "d47480e37dd94771",
        "type": "subflow:bd2f53f3f9c07060",
        "z": "b0862711f6e11cad",
        "name": "",
        "env": [
            {
                "name": "pars",
                "value": "",
                "type": "str"
            }
        ],
        "x": 470,
        "y": 860,
        "wires": [
            [
                "a4f9ec810a9362c5"
            ]
        ]
    },
    {
        "id": "086096276b4bab7d",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "source",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "56f5c6dc867396fe",
        "type": "ui_text_input",
        "z": "b0862711f6e11cad",
        "name": "",
        "label": "name",
        "tooltip": "",
        "group": "8c260d03f353501f",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "0a63ad79c19c5087"
            ]
        ]
    },
    {
        "id": "0a63ad79c19c5087",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dataset_name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "029ea710c8e3bc8b",
        "type": "ui_dropdown",
        "z": "b0862711f6e11cad",
        "name": "",
        "label": "mapper type",
        "tooltip": "",
        "place": "Select option",
        "group": "8c260d03f353501f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "i3",
                "value": "i3",
                "type": "str"
            },
            {
                "label": "",
                "value": "i4",
                "type": "str"
            },
            {
                "label": "",
                "value": "yaml",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 900,
        "wires": [
            [
                "d9994fbf9f7e0441"
            ]
        ]
    },
    {
        "id": "35609e6aaa4849a9",
        "type": "ui_template",
        "z": "b0862711f6e11cad",
        "group": "8c260d03f353501f",
        "name": "jsonata",
        "order": 5,
        "width": 12,
        "height": 6,
        "format": "<div style=\"display: flex; flex-direction: column; height: 100%; padding: 10px; box-sizing: border-box;\">\n  <label style=\"font-size: 16px; font-weight: bold; margin-bottom: 5px;\">mapper jsonata</label>\n  <textarea ng-model=\"text\" ng-change=\"sendText()\" style=\"flex: 1; width: 95%; height: 100%; font-family: 'Courier New', Courier, monospace; \n    font-size: 14px; line-height: 1.5; font-size: 14px; line-height: 1.5; color: #333; \n    background-color: #f9f9f9; border: 1px solid #ccc; border-radius: 5px; padding: 10px; resize: vertical; \n    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);\">{{msg.payload}}</textarea>\n</div>\n<script>\n  (function(scope) {\n    scope.$watch('msg.payload', function(newValue) {\n      if (newValue !== undefined) scope.text = newValue\n    })    \n    scope.sendText = () => scope.send({ payload: scope.text })\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 460,
        "y": 900,
        "wires": [
            [
                "8735c3676f01a5c1"
            ]
        ]
    },
    {
        "id": "d9994fbf9f7e0441",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "mapper type",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$flowContext($join(['mapper_types', msg.payload], '.'))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 900,
        "wires": [
            [
                "35609e6aaa4849a9"
            ]
        ]
    },
    {
        "id": "8735c3676f01a5c1",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mapper",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "9f24b321c3b8c280",
        "type": "comment",
        "z": "b0862711f6e11cad",
        "name": "add dashboard",
        "info": "",
        "x": 160,
        "y": 780,
        "wires": []
    },
    {
        "id": "d5f86e928124f326",
        "type": "comment",
        "z": "b0862711f6e11cad",
        "name": "add logic",
        "info": "",
        "x": 140,
        "y": 940,
        "wires": []
    },
    {
        "id": "0e95d762b3abad54",
        "type": "switch",
        "z": "b0862711f6e11cad",
        "name": "",
        "property": "source_type",
        "propertyType": "flow",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "eq",
                "v": "mongo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 980,
        "wires": [
            [
                "20d6630bb3ef93a5"
            ],
            []
        ]
    },
    {
        "id": "20d6630bb3ef93a5",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "source",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 960,
        "wires": [
            [
                "e5f4655af5d52d4f"
            ]
        ]
    },
    {
        "id": "eb8566b3afebb563",
        "type": "function",
        "z": "b0862711f6e11cad",
        "name": "function 7",
        "func": "global.set('datasets.'+flow.get('dataset_name'), msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "e5f4655af5d52d4f",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "jsonata",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$eval($flowContext('mapper'), msg.payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1000,
        "wires": [
            [
                "eb8566b3afebb563"
            ]
        ]
    },
    {
        "id": "9574245dc3820a3d",
        "type": "ui_toast",
        "z": "b0862711f6e11cad",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 530,
        "y": 1060,
        "wires": []
    },
    {
        "id": "209448046d821a1e",
        "type": "comment",
        "z": "b0862711f6e11cad",
        "name": "catch errors",
        "info": "",
        "x": 150,
        "y": 1020,
        "wires": []
    },
    {
        "id": "42584c65f7204fac",
        "type": "change",
        "z": "b0862711f6e11cad",
        "name": "index",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$map($keys($globalContext('datasets')), function($v){{\"name\": $v}})",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "3083bc8a9189eeb5",
                "3891fe9a248be4d1"
            ]
        ]
    },
    {
        "id": "3083bc8a9189eeb5",
        "type": "ui_table",
        "z": "b0862711f6e11cad",
        "group": "ecc1a18772937a7e",
        "name": "",
        "order": 1,
        "width": 6,
        "height": 15,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 490,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "3891fe9a248be4d1",
        "type": "debug",
        "z": "b0862711f6e11cad",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 240,
        "wires": []
    },
    {
        "id": "aa6ba484545c3a7e",
        "type": "inject",
        "z": "c3ab8bf1851e1905",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "69f508fd61e58580"
            ]
        ]
    },
    {
        "id": "69f508fd61e58580",
        "type": "change",
        "z": "c3ab8bf1851e1905",
        "name": "app init",
        "rules": [
            {
                "t": "set",
                "p": "mappers",
                "pt": "global",
                "to": "{\"i3\":\"$.{\\n  'id': _id,\\n  'origin': $, \\n  'cast': $\\n}\",\"i4\":\"$.{\\n  'id': _id,\\n  'origin': $, \\n  'cast': $\\n}\",\"yaml\":\"$.{\\n  'id': id,\\n  'origin': $, \\n  'cast': $\\n}\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "casters",
                "pt": "global",
                "to": "{\"dddd\":\"$.{\\n  'id': _id,\\n  'origin': $, \\n  'cast': $\\n}\",\"ffff\":\"foo\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "sources",
                "pt": "global",
                "to": "{\"sss\":{\"type\":\"yaml\",\"text\":\"\",\"data\":{}},\"s22\":{\"type\":\"yaml\",\"text\":\"\",\"data\":{}}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "datasets",
                "pt": "global",
                "to": "{\"cars\":[2,3,5684,6546],\"addd\":{\"FirstName\":\"Fred\",\"Surname\":\"Smith\",\"Age\":28,\"Address\":{\"Street\":\"Hursley Park\",\"City\":\"Winchester\",\"Postcode\":\"SO21 2JN\"},\"Phone\":[{\"type\":\"home\",\"number\":\"0203 544 1234\"},{\"type\":\"office\",\"number\":\"01962 001234\"},{\"type\":\"office\",\"number\":\"01962 001235\"},{\"type\":\"mobile\",\"number\":\"077 7700 1234\"}],\"Email\":[{\"type\":\"office\",\"address\":[\"fred.smith@my-work.com\",\"fsmith@my-work.com\"]},{\"type\":\"home\",\"address\":[\"freddy@my-social.com\",\"frederic.smith@very-serious.com\"]}],\"Other\":{\"Over 18 ?\":true,\"Misc\":null,\"Alternative.Address\":{\"Street\":\"Brick Lane\",\"City\":\"London\",\"Postcode\":\"E1 6RF\"}}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 180,
        "wires": [
            [
                "030d677f539f5d54"
            ]
        ]
    },
    {
        "id": "030d677f539f5d54",
        "type": "link out",
        "z": "c3ab8bf1851e1905",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "72525da75d3cb55e",
            "862b649d80526fe9",
            "c3e66e3602186781"
        ],
        "x": 455,
        "y": 180,
        "wires": []
    },
    {
        "id": "792c7f646c62abbe",
        "type": "ui_template",
        "z": "595e3da839de1e0a",
        "group": "200e099d67559649",
        "name": "jsonata",
        "order": 1,
        "width": 12,
        "height": 14,
        "format": "<div style=\"display: flex; flex-direction: column; height: 100%; padding: 10px; box-sizing: border-box;\">\n  <label style=\"font-size: 16px; font-weight: bold; margin-bottom: 5px;\">mapper jsonata</label>\n  <textarea ng-model=\"text\" ng-change=\"sendText()\" style=\"flex: 1; width: 95%; height: 100%; font-family: 'Courier New', Courier, monospace; \n    font-size: 14px; line-height: 1.5; font-size: 14px; line-height: 1.5; color: #333; \n    background-color: #f9f9f9; border: 1px solid #ccc; border-radius: 5px; padding: 10px; resize: vertical; \n    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);\">{{msg.payload}}</textarea>\n</div>\n<script>\n  (function(scope) {\n    scope.$watch('msg.payload', function(newValue) {\n      if (newValue !== undefined) scope.text = newValue\n    })    \n    scope.sendText = () => scope.send({ payload: scope.text })\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 100,
        "wires": [
            [
                "6611d30c1ff6b2f7"
            ]
        ]
    },
    {
        "id": "c45b3c3d6d976301",
        "type": "ui_text_input",
        "z": "595e3da839de1e0a",
        "name": "",
        "label": "",
        "tooltip": "name",
        "group": "200e099d67559649",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 640,
        "y": 60,
        "wires": [
            [
                "a49869a249bb9ccd"
            ]
        ]
    },
    {
        "id": "457c7f5f20aef345",
        "type": "ui_button",
        "z": "595e3da839de1e0a",
        "name": "",
        "group": "200e099d67559649",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "save",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "save",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "f618c0525b08f6f0"
            ]
        ]
    },
    {
        "id": "757fa9a085247bc1",
        "type": "ui_button",
        "z": "595e3da839de1e0a",
        "name": "delete",
        "group": "200e099d67559649",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "delete",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "delete",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "f618c0525b08f6f0"
            ]
        ]
    },
    {
        "id": "5351d8d3f113c5ba",
        "type": "ui_table",
        "z": "595e3da839de1e0a",
        "group": "b8e2eba4a241164b",
        "name": "",
        "order": 1,
        "width": 6,
        "height": 15,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 370,
        "y": 60,
        "wires": [
            [
                "398ea9fbeeaafab5",
                "306d19a47176947a"
            ]
        ]
    },
    {
        "id": "81e82d4bbdce016b",
        "type": "change",
        "z": "595e3da839de1e0a",
        "name": "index",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$map($keys($globalContext('sources')), function($v){{\"name\": $v}})",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 60,
        "wires": [
            [
                "5351d8d3f113c5ba"
            ]
        ]
    },
    {
        "id": "398ea9fbeeaafab5",
        "type": "change",
        "z": "595e3da839de1e0a",
        "name": "name",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 60,
        "wires": [
            [
                "c45b3c3d6d976301"
            ]
        ]
    },
    {
        "id": "a49869a249bb9ccd",
        "type": "rbe",
        "z": "595e3da839de1e0a",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 770,
        "y": 60,
        "wires": [
            [
                "897ea07e1db23855"
            ]
        ]
    },
    {
        "id": "6611d30c1ff6b2f7",
        "type": "rbe",
        "z": "595e3da839de1e0a",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 770,
        "y": 100,
        "wires": [
            [
                "a941b283b9ce39b9"
            ]
        ]
    },
    {
        "id": "897ea07e1db23855",
        "type": "change",
        "z": "595e3da839de1e0a",
        "name": "name",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "306d19a47176947a",
        "type": "change",
        "z": "595e3da839de1e0a",
        "name": "value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext('sources.' & msg.payload.name)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "792c7f646c62abbe"
            ]
        ]
    },
    {
        "id": "a941b283b9ce39b9",
        "type": "change",
        "z": "595e3da839de1e0a",
        "name": "value",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "50ff280f604a2d81",
        "type": "ui_ui_control",
        "z": "595e3da839de1e0a",
        "name": "",
        "events": "change",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "81e82d4bbdce016b"
            ]
        ]
    },
    {
        "id": "f618c0525b08f6f0",
        "type": "function",
        "z": "595e3da839de1e0a",
        "name": "save",
        "func": "let name = flow.get('name')\nif(name)\n    global.set('sources.'+name, msg.payload == 'save'? flow.get('value'): undefined)\nreturn {\n    payload: Object.keys(global.get('sources')).map(k => {return {\"name\": k}})\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 120,
        "wires": [
            [
                "5351d8d3f113c5ba"
            ]
        ]
    }
]